@import "tailwindcss";

@keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.animate-ticker {
  display: flex;
  width: max-content;
  animation: ticker 30s linear infinite;
  will-change: transform;
}

.animate-ticker:hover {
  animation-play-state: paused;
}